# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
venv/
.venv/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Secrets / env
.env
*.pfx
*.pem
*.key

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
*.log
